<div class="flex flex-col w-full border-b-2 border-b-gray-400 border-opacity-60 px-6">
	<div class="flex flex-row w-full space-x-8" id="author-section">
		<div>
			<p class="user-avatar"></p>
		</div>
		<div>
			<span class="font-bold text-xl">Adam Jabłoński</span>
			<div class="flex flex-row space-x-6">
				<span>Politechnika Lubelska</span>
				<span>|</span>
				<span>13.01.2021</span>
			</div>
		</div>
		<div class="flex flex-row-reverse w-full px-4">
			@if (!isReply) {
				<button mat-button matTooltip="Odpowiedz" (click)="handleReply()">
					<mat-icon matButtonIcon>reply</mat-icon>
				</button>
			}
			@if (isCommentAuthor$() | async) {
				<button mat-button matTooltip="Usuń" (click)="handleDelete()">
					<mat-icon matButtonIcon>delete</mat-icon>
				</button>
				<button mat-button matTooltip="Edytuj" (click)="handleEdit()">
					<mat-icon matButtonIcon>edit</mat-icon>
				</button>
			}
		</div>
	</div>
	<div id="content-section">
		<p class="py-6">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id faucibus ex. Suspendisse semper
			metus diam, id convallis enim ornare id. Fusce hendrerit, purus et gravida maximus, nibh est facilisis
			turpis, non pretium enim purus a mi. Donec ullamcorper id massa eu viverra. Maecenas ultrices ex id metus
			gravida blandit. Maecenas non ex at velit cursus euismod. Suspendisse et lectus quis odio lacinia vehicula
			et et risus.
			Praesent lacus enim, vulputate quis interdum quis, porta eget mauris. Interdum et malesuada fames ac ante
			ipsum primis in faucibus. Vivamus ligula orci, pharetra quis consequat eu, aliquet in nisl. Ut nibh augue,
			condimentum in commodo non, sagittis sed eros. Phasellus hendrerit in urna nec mollis. Nunc vulputate
			imperdiet risus. Nunc vel est ut ligula suscipit facilisis. Sed nisi risus, pretium eget mauris et, egestas
			tempor magna. Integer tristique condimentum suscipit.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id feugiat purus. Integer volutpat
			pretium arcu sed iaculis. Nullam risus lorem, accumsan sit amet turpis sit amet, aliquet posuere nibh.
			Quisque et lectus sollicitudin, tincidunt neque vitae, aliquet leo. Curabitur eleifend iaculis orci vel
			fermentum. Curabitur tempus, erat et varius semper, sapien ipsum imperdiet velit, at tempor nulla arcu a
			ligula. Nam.
		</p>
	</div>
	<div class="flex flex-col w-full items-start pb-4" id="replies-section" *ngIf="showRepliesSection()">
		<button mat-button (click)="repliesShown = !repliesShown">{{repliesButtonLabel}}
			<mat-icon matPrefix [@halfRotateAnimation]="repliesShown ? 'rotate' : 'default'">arrow_upward</mat-icon>
		</button>
		<div *ngIf="repliesShown" [@fastAppearAnimation] class="flex flex-col space-y-3 pt-4 px-4">
			<app-comment [isReply]="true"></app-comment>
			<app-comment [isReply]="true"></app-comment>
			<app-comment [isReply]="true"></app-comment>
		</div>
	</div>
</div>
