.NgxEditor {
	background-color: #47464b !important;
	@media (prefers-color-scheme: light) {
		background-color: #f4ded9 !important;
	}
}

.NgxEditor__MenuBar {
	background-color: #47464b !important;
	@media (prefers-color-scheme: light) {
		background-color: #f4ded9 !important;
	}
}
