<mat-card appearance="outlined">
	<mat-card-header>
		<mat-card-title class="px-8">{{ patent.name }}</mat-card-title>
		<mat-card-subtitle class="px-8">Data powstania: {{ patent.dateFrom }}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div class="px-8 py-4">
			<mat-chip-listbox aria-label="Cutest dog breeds">
				@for (branch of patent.businessBranches; track $index) {
					<mat-chip-option [selectable]="false" [disableRipple]="true" class="!w-auto">{{ branch }}
					</mat-chip-option>
				}
			</mat-chip-listbox>
		</div>
	</mat-card-content>
	<mat-card-actions align="end">
		<div class="px-8">
			<button mat-raised-button>Szczegóły</button>
		</div>
	</mat-card-actions>
</mat-card>
