<span>
  <span class="flex flex-row items-center space-x-3">
    <img
		class="dark:block hidden m-4"
		ngSrc="/icons/question-dark.svg"
		alt="Image that shows question mark"
		height="100"
		width="100" />
	  <img
		  class="dark:hidden block m-4"
		  ngSrc="/icons/question-light.svg"
		  alt="Image that shows question mark"
		  height="100"
		  width="100" />
    <span class="font-bold text-2xl">{{ title }}</span>
  </span>
</span>
<mat-dialog-content>

	<div class="flex flex-col space-y-3">
		{{message}}
	</div>

</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="decline()">{{declineLabel}}</button>
	<button mat-button (click)="accept()">{{acceptLabel}}</button>
</mat-dialog-actions>
