<div class="flex flex-row w-full min-h-[94vh] p-4">
	<div class="absolute flex max-w-[30%]">
		<app-filter-panel class="transform w-full transition-transform ease-in-out duration-300"
						  [ngClass]="{'hidden': sidePanelHidden}"
						  [@slideInOut]="showSidePanel ? 'in' : 'out'"
						  [businessBranches]="businessBranches"
						  (@slideInOut.start)="handlePanelAnimationStart()"
						  (@slideInOut.done)="handlePanelAnimationDone()"
						  (panelClosed)="showSidePanel = !showSidePanel">
		</app-filter-panel>
		@if (showPanelButton) {
			<button mat-mini-fab class="relative transition ease-in-out duration-200 transform top-16 fab-secondary" (click)="showSidePanel = !showSidePanel">
				<mat-icon>filter_alt</mat-icon>
			</button>
		}
	</div>
	<div class="flex w-full justify-center">
		lista
	</div>

</div>
