<div class="flex w-full bg-primary-light dark:bg-primary-dark h-[60px] rounded-b shadow-2xl justify-between">

	<div class="flex flex-row w-1/2 gap-x-2 items-end pb-1">
		<span class="px-4 py-2 text-3xl">PatentConnector</span>
		<a class="nav-item" routerLink="patents/listing">Wyszukiwarka Patentów</a>
		<a class="nav-item" routerLink="events/listing">Wyszukiwarka Wydarzeń</a>

		<!--		Research worker actions section-->
		<ng-container *ngIf="isUserResearchWorker$ | async">
			<a class="nav-item" routerLink="events/add">Dodaj Wydarzenie</a>
		</ng-container>

		<!--		Entrepreneur's actions section-->
		<ng-container *ngIf="isUserEntrepreneur$ | async">
			<a class="nav-item" routerLink="/add-invention-demand">Zapotrzebowanie na Patent</a>
		</ng-container>

	</div>

	<div class="flex flex-row w-1/2 gap-x-2 items-end pb-1 justify-end">
		<ng-container *ngIf="!(isUserLoggedIn$ | async); else loggedUser">
			<a class="nav-item" [routerLink]="resolveLoginLink()">Zaloguj się</a>
			<a class="nav-item" routerLink="register">Zarejestruj się</a>
		</ng-container>
		<ng-template #loggedUser>
			<span class="nav-item" (click)="logout()">Wyloguj się</span>
		</ng-template>
	</div>
</div>
